**Affinity scores Clustering**

*Step1: Get the gid_10 corresponding to scores*

- 1.1 Combined 12-month data and Convert scores data, Add gid_10 to scores
- 1.2 Aggregated data by gid_10

# 1 Import package

In [2]:
import pandas as pd
import os

# 2 Combine data

In [46]:
# Define the base path
base_path = '../../../../data/Locomizer/profiling'

# Define the folders to be read
folders = ['2023-05', '2023-06', '2023-07', '2023-08', '2023-09', '2023-10', 
           '2023-11', '2023-12', '2024-01', '2024-02', '2024-03', '2024-04']
subfolders = ['0', '1']
file_name = 'part-00000'  # Ensure the file name includes the extension

In [47]:
# Initialize an empty list to store DataFrames
dataframes = []

# Iterate over the specified folders and subfolders
for folder in folders:
    for subfolder in subfolders:
        # Construct the full path to the file
        file_path = os.path.join(base_path, folder, subfolder, 'scores', file_name)
        
        # Check if the file exists
        if os.path.exists(file_path):
            # Read the file into a DataFrame, setting header=None
            df = pd.read_csv(file_path, sep='\t', header=None)  # Specify the separator as a tab, and do not use a header row
            dataframes.append(df)
            print(f"Finished combining: {folder, subfolder}")
        else:
            print(f"File not found: {file_path}")

Finished combine: ('2023-05', '0')
Finished combine: ('2023-05', '1')
Finished combine: ('2023-06', '0')
Finished combine: ('2023-06', '1')
Finished combine: ('2023-07', '0')
Finished combine: ('2023-07', '1')
Finished combine: ('2023-08', '0')
Finished combine: ('2023-08', '1')
Finished combine: ('2023-09', '0')
Finished combine: ('2023-09', '1')
Finished combine: ('2023-10', '0')
Finished combine: ('2023-10', '1')
Finished combine: ('2023-11', '0')
Finished combine: ('2023-11', '1')
Finished combine: ('2023-12', '0')
Finished combine: ('2023-12', '1')
Finished combine: ('2024-01', '0')
Finished combine: ('2024-01', '1')
Finished combine: ('2024-02', '0')
Finished combine: ('2024-02', '1')
Finished combine: ('2024-03', '0')
Finished combine: ('2024-03', '1')
Finished combine: ('2024-04', '0')
Finished combine: ('2024-04', '1')

In [48]:

combined_df = pd.concat(dataframes, ignore_index=True)

In [49]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36545194 entries, 0 to 36545193
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   0       int64
 1   1       object
 2   2       float64
dtypes: float64(1), int64(1), object(1)
memory usage: 836.5+ MB

## 3 Convert data

In [50]:
# set column names
combined_df.columns = ['Category', 'ID', 'Score']
combined_df.head()

   Category                                    ID       Score
0       101  b78350d2-ff89-45d5-bb78-799c9b0b6047    9.276727
1       102  b78350d2-ff89-45d5-bb78-799c9b0b6047   57.103790
2       103  b78350d2-ff89-45d5-bb78-799c9b0b6047  116.594063
3       104  b78350d2-ff89-45d5-bb78-799c9b0b6047   59.213940
4       105  b78350d2-ff89-45d5-bb78-799c9b0b6047  135.939200

In [57]:
# create pivot table
pivot_df = combined_df.pivot_table(index='ID', columns='Category', values='Score', aggfunc='mean').fillna(0)
# Reset indexes to make IDs part of the DataFrame
pivot_df.reset_index(inplace=True)

pivot_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1302236 entries, 0 to 1302235
Data columns (total 21 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   ID      1302236 non-null  object
 1   101     1302236 non-null  float64
 2   102     1302236 non-null  float64
 3   103     1302236 non-null  float64
 4   104     1302236 non-null  float64
 5   105     1302236 non-null  float64
 6   106     1302236 non-null  float64
 7   107     1302236 non-null  float64
 8   108     1302236 non-null  float64
 9   109     1302236 non-null  float64
 10  110     1302236 non-null  float64
 11  111     1302236 non-null  float64
 12  112     1302236 non-null  float64
 13  113     1302236 non-null  float64
 14  114     1302236 non-null  float64
 15  115     1302236 non-null  float64
 16  116     1302236 non-null  float64
 17  117     1302236 non-null  float64
 18  118     1302236 non-null  float64
 19  119     1302236 non-null  float64
 20  120     1302236 non-null  float64
dtypes: float64(20), object(1)
memory usage: 208.6+ MB

In [58]:
pivot_df.head()

Category,ID,101,102,103,104,105,106,107,108,109,...,111,112,113,114,115,116,117,118,119,120
0,00000000-3bf7-56be-c8ef-0c4666a6ed36,16.648749,44.152675,88.142294,9.483273,99.915290,107.423721,73.211517,87.911140,65.965107,...,18.868994,51.914051,6.547848,32.132615,61.368284,0.000000,11.805995,3.932320,12.988205,7.123373
1,00000000-3c88-ddfb-fc65-f2bf3eb90ad4,0.000000,0.000000,13.591256,52.169873,86.650694,64.534465,0.000000,59.035086,13.591256,...,51.731176,0.000000,0.000000,8.185950,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,000000ec-306f-603f-21a0-26e3d3a690f9,0.000000,0.000000,53.453497,0.000000,80.473127,15.541134,173.055228,113.718114,0.000000,...,6.237392,55.069112,0.000000,0.000000,74.649449,0.000000,0.000000,0.000000,0.000000,0.000000
3,00000bfc-ea1f-4789-916b-6466c1d456af,67.857328,41.264206,125.862793,52.816490,70.127947,45.966446,97.356606,88.877302,99.398662,...,8.135838,66.573743,5.745851,0.718489,62.911062,0.000000,2.958010,0.770048,65.055877,2.644417
4,00000c64-ab8d-4baa-94f4-6d653ff1aa0f,50.360191,77.070335,114.605382,54.267778,118.911572,36.396126,170.787877,103.778851,11.359709,...,36.140814,15.542064,6.047429,8.554166,61.689939,3.853194,29.022036,28.819926,11.676369,3.845436

In [ ]:

pivot_df.drop(columns=range(116, 121), inplace=True)

In [62]:
pivot_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1302236 entries, 0 to 1302235
Data columns (total 16 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   ID      1302236 non-null  object
 1   101     1302236 non-null  float64
 2   102     1302236 non-null  float64
 3   103     1302236 non-null  float64
 4   104     1302236 non-null  float64
 5   105     1302236 non-null  float64
 6   106     1302236 non-null  float64
 7   107     1302236 non-null  float64
 8   108     1302236 non-null  float64
 9   109     1302236 non-null  float64
 10  110     1302236 non-null  float64
 11  111     1302236 non-null  float64
 12  112     1302236 non-null  float64
 13  113     1302236 non-null  float64
 14  114     1302236 non-null  float64
 15  115     1302236 non-null  float64
dtypes: float64(15), object(1)
memory usage: 159.0+ MB

In [59]:
# Check if the ID is unique
# "All IDs are unique"
if pivot_df['ID'].is_unique:
    print("All IDs are unique")
else:
    print("Existence of duplicate IDs")

All IDs are unique

## 4 Get gid_10 code

## 4.1 Read in gid_10 data (Integration of 12x2x1000=24,000 documents)

In [63]:
base_path = "../../../../data/Locomizer/parametric_score_2023/2023"
months = range(5, 13) 
file_numbers = range(1, 1001)

In [64]:
def read_and_concatenate(year, start_month, end_month, base_folder, folder_name):
    base_path = f"../../../../data/Locomizer/parametric_score_{year}/{year}"
    months = range(start_month, end_month + 1) 
    file_numbers = range(1, 1001) 

    all_files = []
    for month in months:
        month_folder = os.path.join(base_path, f"{month:02}", base_folder, folder_name)
        files = [os.path.join(month_folder, f"part-{i:05}") for i in file_numbers]
        all_files.extend(files)
        
        
        df_list = [pd.read_csv(file, header=None) for file in files if os.path.exists(file)]
        month_df = pd.concat(df_list, ignore_index=True)
        
        
        print(f"Completed reading and concatenating for {year}/{month:02} in {folder_name}.")
        
    return pd.concat(df_list, ignore_index=True)

def remove_duplicates(df):
    unique_df = df.drop_duplicates(subset=[0], keep='first')
    print("Duplicates removed.")
    return unique_df

In [65]:

residents_2023 = read_and_concatenate(2023, 5, 12, "FIN", "locomizer_residents")
workers_2023 = read_and_concatenate(2023, 5, 12, "FIN", "locomizer_workers")

Completed reading and concatenating for 2023/05 in locomizer_residents.
Completed reading and concatenating for 2023/06 in locomizer_residents.
Completed reading and concatenating for 2023/07 in locomizer_residents.
Completed reading and concatenating for 2023/08 in locomizer_residents.
Completed reading and concatenating for 2023/09 in locomizer_residents.
Completed reading and concatenating for 2023/10 in locomizer_residents.
Completed reading and concatenating for 2023/11 in locomizer_residents.
Completed reading and concatenating for 2023/12 in locomizer_residents.
Completed reading and concatenating for 2023/05 in locomizer_workers.
Completed reading and concatenating for 2023/06 in locomizer_workers.
Completed reading and concatenating for 2023/07 in locomizer_workers.
Completed reading and concatenating for 2023/08 in locomizer_workers.
Completed reading and concatenating for 2023/09 in locomizer_workers.
Completed reading and concatenating for 2023/10 in locomizer_workers.
Completed reading and concatenating for 2023/11 in locomizer_workers.
Completed reading and concatenating for 2023/12 in locomizer_workers.

In [66]:

residents_2024 = read_and_concatenate(2024, 1, 4, "FIN", "locomizer_residents")
workers_2024 = read_and_concatenate(2024, 1, 4, "FIN", "locomizer_workers")

Completed reading and concatenating for 2024/01 in locomizer_residents.
Completed reading and concatenating for 2024/02 in locomizer_residents.
Completed reading and concatenating for 2024/03 in locomizer_residents.
Completed reading and concatenating for 2024/04 in locomizer_residents.
Completed reading and concatenating for 2024/01 in locomizer_workers.
Completed reading and concatenating for 2024/02 in locomizer_workers.
Completed reading and concatenating for 2024/03 in locomizer_workers.
Completed reading and concatenating for 2024/04 in locomizer_workers.

In [67]:

all_residents = pd.concat([residents_2023, residents_2024], ignore_index=True)
all_workers = pd.concat([workers_2023, workers_2024], ignore_index=True)
print("Residents and workers data combined.")

Residents and workers data combined.

In [68]:

all_residents_cleaned = remove_duplicates(all_residents)
all_workers_cleaned = remove_duplicates(all_workers)
print("Residents and workers data cleaned.")

Duplicates removed.
Duplicates removed.
Residents and workers data cleaned.

In [69]:

all_data = pd.concat([all_residents_cleaned, all_workers_cleaned], ignore_index=True)
final_cleaned_data = remove_duplicates(all_data)
print("Final data prepared.")

Duplicates removed.
Final data prepared.

In [70]:
final_cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 645872 entries, 0 to 948864
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       645872 non-null  object
dtypes: object(1)
memory usage: 9.9+ MB

In [71]:
final_cleaned_data.head()

                                                   0
0  d51ae446-7aee-4ce2-baf3-8c60ce837511\t8a088a8d...
1  4fffb2ba-0f0f-47a9-9df0-cea98d36d8f6\t8a089969...
2  53d90d04-700a-4b48-9d2b-2d5ecaece65b\t8a08d689...
3  0c5f09ea-3a4c-43d2-a47a-3b0ca81c91a6\t8a112490...
4  85deae77-9401-474a-ac7b-338b3369cbdc\t8a1126d0...

In [74]:
final_cleaned_data.columns = ['data']
final_cleaned_data[['id', 'gid_10']] = final_cleaned_data['data'].str.split('\t', expand=True)
final_cleaned_data.head()

/var/folders/k8/5696rnpn6mv66f3rfvm28_b00000gn/T/ipykernel_34072/1749958941.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_cleaned_data[['id', 'gid_10']] = final_cleaned_data['data'].str.split('\t', expand=True)
/var/folders/k8/5696rnpn6mv66f3rfvm28_b00000gn/T/ipykernel_34072/1749958941.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_cleaned_data[['id', 'gid_10']] = final_cleaned_data['data'].str.split('\t', expand=True)

,data,id,gid_10
0,d51ae446-7aee-4ce2-baf3-8c60ce837511\t8a088a8d...,d51ae446-7aee-4ce2-baf3-8c60ce837511,8a088a8dd22ffff
1,4fffb2ba-0f0f-47a9-9df0-cea98d36d8f6\t8a089969...,4fffb2ba-0f0f-47a9-9df0-cea98d36d8f6,8a089969b38ffff
2,53d90d04-700a-4b48-9d2b-2d5ecaece65b\t8a08d689...,53d90d04-700a-4b48-9d2b-2d5ecaece65b,8a08d689ed37fff
3,0c5f09ea-3a4c-43d2-a47a-3b0ca81c91a6\t8a112490...,0c5f09ea-3a4c-43d2-a47a-3b0ca81c91a6,8a112490cd57fff
4,85deae77-9401-474a-ac7b-338b3369cbdc\t8a1126d0...,85deae77-9401-474a-ac7b-338b3369cbdc,8a1126d0dd37fff

In [75]:

final_cleaned_data.drop(columns='data', inplace=True)

/var/folders/k8/5696rnpn6mv66f3rfvm28_b00000gn/T/ipykernel_34072/2629803143.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_cleaned_data.drop(columns='data', inplace=True)

In [76]:
final_cleaned_data.info()
final_cleaned_data.head()

<class 'pandas.core.frame.DataFrame'>
Index: 645872 entries, 0 to 948864
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      645872 non-null  object
 1   gid_10  645872 non-null  object
dtypes: object(2)
memory usage: 14.8+ MB

                                     id           gid_10
0  d51ae446-7aee-4ce2-baf3-8c60ce837511  8a088a8dd22ffff
1  4fffb2ba-0f0f-47a9-9df0-cea98d36d8f6  8a089969b38ffff
2  53d90d04-700a-4b48-9d2b-2d5ecaece65b  8a08d689ed37fff
3  0c5f09ea-3a4c-43d2-a47a-3b0ca81c91a6  8a112490cd57fff
4  85deae77-9401-474a-ac7b-338b3369cbdc  8a1126d0dd37fff

## 4.2 Join data - to get gid_10 for each id

In [77]:
merged_df = pd.merge(pivot_df, final_cleaned_data, left_on='ID', right_on='id', how='left')
merged_df.head()

,ID,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,id,gid_10
0,00000000-3bf7-56be-c8ef-0c4666a6ed36,16.648749,44.152675,88.142294,9.483273,99.915290,107.423721,73.211517,87.911140,65.965107,63.235610,18.868994,51.914051,6.547848,32.132615,61.368284,NaN,NaN
1,00000000-3c88-ddfb-fc65-f2bf3eb90ad4,0.000000,0.000000,13.591256,52.169873,86.650694,64.534465,0.000000,59.035086,13.591256,7.701635,51.731176,0.000000,0.000000,8.185950,0.000000,NaN,NaN
2,000000ec-306f-603f-21a0-26e3d3a690f9,0.000000,0.000000,53.453497,0.000000,80.473127,15.541134,173.055228,113.718114,0.000000,0.000000,6.237392,55.069112,0.000000,0.000000,74.649449,NaN,NaN
3,00000bfc-ea1f-4789-916b-6466c1d456af,67.857328,41.264206,125.862793,52.816490,70.127947,45.966446,97.356606,88.877302,99.398662,78.560809,8.135838,66.573743,5.745851,0.718489,62.911062,NaN,NaN
4,00000c64-ab8d-4baa-94f4-6d653ff1aa0f,50.360191,77.070335,114.605382,54.267778,118.911572,36.396126,170.787877,103.778851,11.359709,56.498470,36.140814,15.542064,6.047429,8.554166,61.689939,NaN,NaN

In [78]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1441984 entries, 0 to 1441983
Data columns (total 18 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   ID      1441984 non-null  object
 1   101     1441984 non-null  float64
 2   102     1441984 non-null  float64
 3   103     1441984 non-null  float64
 4   104     1441984 non-null  float64
 5   105     1441984 non-null  float64
 6   106     1441984 non-null  float64
 7   107     1441984 non-null  float64
 8   108     1441984 non-null  float64
 9   109     1441984 non-null  float64
 10  110     1441984 non-null  float64
 11  111     1441984 non-null  float64
 12  112     1441984 non-null  float64
 13  113     1441984 non-null  float64
 14  114     1441984 non-null  float64
 15  115     1441984 non-null  float64
 16  id      557166 non-null   object
 17  gid_10  557166 non-null   object
dtypes: float64(15), object(3)
memory usage: 198.0+ MB

In [79]:
# Do not need to keep the ‘id’ column of final_cleaned_data, delete it.
merged_df.drop(columns='id', inplace=True)

In [ ]:
# Delete rows where ‘gid_10’ is empty
final_df = merged_df.dropna(subset=['gid_10'])

In [81]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 557166 entries, 9 to 1441981
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      557166 non-null  object
 1   101     557166 non-null  float64
 2   102     557166 non-null  float64
 3   103     557166 non-null  float64
 4   104     557166 non-null  float64
 5   105     557166 non-null  float64
 6   106     557166 non-null  float64
 7   107     557166 non-null  float64
 8   108     557166 non-null  float64
 9   109     557166 non-null  float64
 10  110     557166 non-null  float64
 11  111     557166 non-null  float64
 12  112     557166 non-null  float64
 13  113     557166 non-null  float64
 14  114     557166 non-null  float64
 15  115     557166 non-null  float64
 16  gid_10  557166 non-null  object
dtypes: float64(15), object(2)
memory usage: 76.5+ MB

## 5 Export data

In [82]:
# Save the combined DataFrame to a text file
output_path = '../../../../data/Locomizer_edited/profiling/whole_year_scores_with_gid.txt'
final_df.to_csv(output_path, sep='\t', index=False)