**POI Clustering**

*Step1: Get the category corresponding to POIs*

- 1.1 Split raw POIs data
- 1.2 Add CAT_NUMBER to micode sheet(merged by TRADE_GROUP)
- **1.3 Add CAT_NUMBER to POI data (merged by MICODE)**
- 1.4 Retain POI data with CAT_NUMBER between 101 and 115

# 1 Import package

In [1]:
import pandas as pd

# 2 Merge data

In [2]:
# Read in poi CSV file
input_csv_file = '../../../../data/Locomizer_edited/pois/2023-05_POIs_for_JCD_Finland_(micodes).csv'
df_pois = pd.read_csv(input_csv_file, encoding='utf-8')

/var/folders/k8/5696rnpn6mv66f3rfvm28_b00000gn/T/ipykernel_87148/1354166763.py:3: DtypeWarning: Columns (4,5,17,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df_pois = pd.read_csv(input_csv_file, encoding='utf-8')

In [3]:
df_pois.head()

,LATITUDE,LONGITUDE,NAME,BRANDNAME,FRANCHISE_NAME,TRADE_NAME,ISO3,AREANAME3,AREANAME2,ADD_NUMBER,...,SIC1,SIC2,SIC8,SIC8_DESCRIPTION,MICODE,TRADE_DIVISION,GROUP_NAME,MAIN_CLASS,SUB_CLASS,GLOBAL_ULTIMATE_BUSINESS_NAME
0,63.74856,28.67391,"PUUKARI TH"","" P",NaN,NaN,NaN,FIN,PUUKARI,POHJOIS-KARJALA,1,...,NaN,NaN,NaN,BUS STOP,10320302,DIVISION E. - TRANSPORTATION AND PUBLIC UTILITIES,LOCAL AND SUBURBAN TRANSIT AND INTERURBAN HIGH...,PUBLIC TRANSPORT STOP,BUS STOP,NaN
1,64.58516,24.69568,TIKKALANTIE P,NaN,NaN,NaN,FIN,RAAHE,POHJOIS-POHJANMAA,NaN,...,NaN,NaN,NaN,BUS STOP,10320302,DIVISION E. - TRANSPORTATION AND PUBLIC UTILITIES,LOCAL AND SUBURBAN TRANSIT AND INTERURBAN HIGH...,PUBLIC TRANSPORT STOP,BUS STOP,NaN
2,62.86890,27.63943,GOLF-FUNNY OY,NaN,NaN,NaN,FIN,KUOPIO,POHJOIS-SAVO,NaN,...,5941.0,NaN,59410000.0,SPORTING GOODS AND BICYCLE SHOPS,10015941,DIVISION G. - RETAIL TRADE,MISCELLANEOUS RETAIL,MISCELLANEOUS SHOPPING GOODS STORES,SPORTING GOODS AND BICYCLE SHOPS,NaN
3,63.94491,24.93294,LEPOLA I,NaN,NaN,NaN,FIN,NIVALA,POHJOIS-POHJANMAA,119,...,NaN,NaN,NaN,BUS STOP,10320302,DIVISION E. - TRANSPORTATION AND PUBLIC UTILITIES,LOCAL AND SUBURBAN TRANSIT AND INTERURBAN HIGH...,PUBLIC TRANSPORT STOP,BUS STOP,NaN
4,61.32062,22.77247,KIIKANOJANTIE P,NaN,NaN,NaN,FIN,SASTAMALA,PIRKANMAA,NaN,...,NaN,NaN,NaN,BUS STOP,10320302,DIVISION E. - TRANSPORTATION AND PUBLIC UTILITIES,LOCAL AND SUBURBAN TRANSIT AND INTERURBAN HIGH...,PUBLIC TRANSPORT STOP,BUS STOP,NaN

In [4]:
# Read in micode Excel file
input_excel_file = '../../../../data/Locomizer_edited/micode_sheet_edited.xlsx'
df_micode = pd.read_excel(input_excel_file)

In [5]:
df_micode.head()

,TRADE_DIVISION,TRADE_GROUP,CLASS,SUB_CLASS,SIC,SIC8,MICODE,SIC8_DESCRIPTION,CAT_NUMBER
0,"Division A. - Agriculture, Forestry, and Fishing",Agricultural Production - Crops,Cash Grains,Wheat,111.0,1110000.0,10050111,Wheat,NaN
1,"Division A. - Agriculture, Forestry, and Fishing",Agricultural Production - Crops,Cash Grains,Rice,112.0,1120000.0,10050112,Rice,NaN
2,"Division A. - Agriculture, Forestry, and Fishing",Agricultural Production - Crops,Cash Grains,Corn,115.0,1150000.0,10050115,Corn,NaN
3,"Division A. - Agriculture, Forestry, and Fishing",Agricultural Production - Crops,Cash Grains,Soybeans,116.0,1160000.0,10050116,Soybeans,NaN
4,"Division A. - Agriculture, Forestry, and Fishing",Agricultural Production - Crops,Cash Grains,"Cash Grains, nec",119.0,1190000.0,10050119,"Cash grains, nec",NaN

In [6]:
# Merge data, based on MICODE column
df_merged = df_pois.merge(df_micode[['MICODE', 'CAT_NUMBER']], on='MICODE', how='left')

In [7]:
df_merged.head()

,LATITUDE,LONGITUDE,NAME,BRANDNAME,FRANCHISE_NAME,TRADE_NAME,ISO3,AREANAME3,AREANAME2,ADD_NUMBER,...,SIC2,SIC8,SIC8_DESCRIPTION,MICODE,TRADE_DIVISION,GROUP_NAME,MAIN_CLASS,SUB_CLASS,GLOBAL_ULTIMATE_BUSINESS_NAME,CAT_NUMBER
0,63.74856,28.67391,"PUUKARI TH"","" P",NaN,NaN,NaN,FIN,PUUKARI,POHJOIS-KARJALA,1,...,NaN,NaN,BUS STOP,10320302,DIVISION E. - TRANSPORTATION AND PUBLIC UTILITIES,LOCAL AND SUBURBAN TRANSIT AND INTERURBAN HIGH...,PUBLIC TRANSPORT STOP,BUS STOP,NaN,NaN
1,64.58516,24.69568,TIKKALANTIE P,NaN,NaN,NaN,FIN,RAAHE,POHJOIS-POHJANMAA,NaN,...,NaN,NaN,BUS STOP,10320302,DIVISION E. - TRANSPORTATION AND PUBLIC UTILITIES,LOCAL AND SUBURBAN TRANSIT AND INTERURBAN HIGH...,PUBLIC TRANSPORT STOP,BUS STOP,NaN,NaN
2,62.86890,27.63943,GOLF-FUNNY OY,NaN,NaN,NaN,FIN,KUOPIO,POHJOIS-SAVO,NaN,...,NaN,59410000.0,SPORTING GOODS AND BICYCLE SHOPS,10015941,DIVISION G. - RETAIL TRADE,MISCELLANEOUS RETAIL,MISCELLANEOUS SHOPPING GOODS STORES,SPORTING GOODS AND BICYCLE SHOPS,NaN,NaN
3,62.86890,27.63943,GOLF-FUNNY OY,NaN,NaN,NaN,FIN,KUOPIO,POHJOIS-SAVO,NaN,...,NaN,59410000.0,SPORTING GOODS AND BICYCLE SHOPS,10015941,DIVISION G. - RETAIL TRADE,MISCELLANEOUS RETAIL,MISCELLANEOUS SHOPPING GOODS STORES,SPORTING GOODS AND BICYCLE SHOPS,NaN,NaN
4,62.86890,27.63943,GOLF-FUNNY OY,NaN,NaN,NaN,FIN,KUOPIO,POHJOIS-SAVO,NaN,...,NaN,59410000.0,SPORTING GOODS AND BICYCLE SHOPS,10015941,DIVISION G. - RETAIL TRADE,MISCELLANEOUS RETAIL,MISCELLANEOUS SHOPPING GOODS STORES,SPORTING GOODS AND BICYCLE SHOPS,NaN,NaN

# 3 Export dataframe

In [8]:
# Save the merged DataFrame to a new CSV file
output_csv_file = '../../../../data/Locomizer_edited/pois/add_category_number/2023-05_POIs_MICODE_CAT_NUMBER.csv'
df_merged.to_csv(output_csv_file, index=False, encoding='utf-8')